
__pycache__/
*.py[cod]

ml.venv/
.venv/
venv/

.env
.cache-spotify
.cache-spotify*

*.pt
*.pth
*.ckpt

corpus/corpus.bin

Rascunho.ipynb

INFO.txt
info project.txt
train_args.txt

spotify-playlist-dataset/

.ipynb_checkpoints/

.vscode/
.idea/